/*@import url(./__like/button__like.css);
@import url(./__edit/button__edit.css);
@import url(./__add/button__add.css);
@import url(./__img/_add/button__img_add.css);
@import url(./__img/_edit/button__img_edit.css);*/

.button{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.button:hover{
    opacity: .6;
    transition: opacity .2 ease;
}
